<app-nav-bar></app-nav-bar>
<div *ngIf="donations">
  <h2>{{ title }}</h2>
  <table>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Campaign</th>
      <th>Amount($)</th>
      <th *ngIf="showStatus">Status</th>
    </tr>
    <tr
      routerLink="/donation-details/{{ d._id }}"
      *ngFor="let d of donations; let i = index"
    >
      <td>{{ d._id }}</td>
      <td>{{ d.username }}</td>
      <td>{{ campaignsName[i] }}</td>
      <td>{{ d.amount }}</td>
      <td *ngIf="showStatus">{{ d.status }}</td>
    </tr>
  </table>

  <!-- <button (click)="toggleMap()">Map</button> -->

  <app-map [donations]="donations"></app-map>
</div>

<div *ngIf="!donations">
  <p>No available donations at the moment, check out later.</p>
</div>
