<div *ngIf="!donation">
  <p>Sorry a problem occurred.</p>
</div>

<div *ngIf="donation">
  <h2>Details of Donation: {{ donation._id }}</h2>
  <p>Username: {{ donation.username }}</p>
  <p>Campaign: {{ campaignName }}</p>
  <p>Amount: {{ donation.amount }} $</p>
  <p>Status: {{ donation.status }}</p>

  <button
    *ngIf="donation.status === 'in processing'"
    (click)="processDonation(donation._id)"
  >
    Process
  </button>
  <button
    style="background-color: red"
    *ngIf="donation.status === 'in processing'"
    (click)="cancelDonation(donation._id)"
  >
    Cancel
  </button>
</div>
