<ul>
  <a class="dropbtn" routerLink="/dashboard">Summary</a>
  <li class="dropdown">
    <a class="dropbtn">Campaigns</a>
    <div class="dropdown-content">
      <a routerLink="/campaign-add">Add Campaign</a>
      <a routerLink="/campaigns/all"> All Campaigns List</a>
      <a routerLink="/campaigns/active">Active Campaigns List</a>
      <a routerLink="/campaigns/disabled">Disabled Campaigns List</a>
    </div>
  </li>
  <li class="dropdown">
    <a class="dropbtn">Donations</a>
    <div class="dropdown-content">
      <a routerLink="/donation-add">Add Donations</a>
      <a routerLink="/donations/all"> All Donations List</a>
      <a routerLink="/donations/processed">Active Donations List</a>
      <a routerLink="/donations/in-processing"
        >All In Processing Donations List</a
      >
      <a routerLink="/donations/canceled"> All Canceled Donations List</a>
    </div>
  </li>
</ul>
