<li><a routerLink="/campaigns">Campaigns</a></li>

<div *ngIf="campaign">
  <h2>Details of {{ campaign.name | uppercase }}</h2>
  <div>
    <p>Description: {{ campaign.description }}</p>
    <br />
    <p>Goal Amount: {{ campaign.goalAmount }} $</p>
    <p>Current Amount: {{ campaign.currentAmount }} $</p>
    <br />

    <div>
      <p>Responsibles:</p>
      <ul *ngFor="let r of campaign.responsibles; let i = index">
        <li>{{ r }}</li>
      </ul>
    </div>

    <div *ngIf="donations">
      <p>Donations:</p>
      <br />
      <ul *ngFor="let d of donations; let j = index">
        <li>Username: {{ d.username }}</li>
        <li>Amount: {{ d.amount }} $</li>
        <br />
      </ul>
    </div>

    <div>
      <button
        *ngIf="campaign.status == 'disabled'"
        (click)="activateCampaign(campaign._id)"
      >
        Activate
      </button>

      <button
        *ngIf="donations && campaign.status == 'active'"
        (click)="deactivateCampaign(campaign._id)"
      >
        Deactivate
      </button>

      <button routerLink="/campaign-edit/{{ campaign._id }}">
        Edit
      </button>
      <button
        style="background-color: red"
        *ngIf="!donations"
        (click)="deleteCampaign(campaign._id)"
      >
        Delete
      </button>
    </div>
  </div>

  <div *ngIf="!campaign">
    <p>Sorry a problem occurred.</p>
  </div>
</div>
