<div *ngIf="campaign">
  <h2>Details of {{ campaign.name | uppercase }</h2>
  <div>
    <div><span>Description: </span>{{ campaign.description }}</div>
    <br />
    <div><span>Goal Amount: </span>{{ campaign.goalAmount }}</div>
    <br />
    <div><span>Current Amount: </span>{{ campaign.currentAmount }}</div>
    <br />
    <div><span>IBAN: </span>{{ campaign.iban }}</div>
    <br />
    <div><span>NIF: </span>{{ campaign.nif }}</div>
    <br />

    <span>Responsibles:</span>
    <li *ngFor="let r of campaign.responsibles; let i = index">
      <span class="badge">{{ r }}</span>
    </li>
  </div>
  <!-- <button routerLink="/campaign-edit/{{ campaign._id }}">
      Edit
    </button> -->
</div>
