<div *ngIf="campaign">
  <h2>{{ campaign.name | uppercase }} Details</h2>
  <div>
    <div><span>Description: </span>{{ campaign.description }}</div>
    <br />
    <div><span>Goal Amount: </span>{{ campaign.goalAmount }}</div>
    <br />
    <div><span>Current Amount: </span>{{ campaign.currentAmount }}</div>
    <br />
    <div><span>IBAN: </span>{{ campaign.iban }}</div>
    <br />

    <span>Responsibles:</span>
    <li *ngFor="let r of campaign.responsibles; let i = index">
      <span class="badge">{{ i + 1 }}</span> {{ c }}
    </li>
  </div>
    <!-- <button routerLink="/campaign-edit/{{ campaign._id }}">
      Edit
    </button> -->
  </div>
</div>
